#mvn/java specific
target/
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# eclipse specific files
.settings/
.classpath
.project

# IntelliJ IDEA specific files
*.ucls
.idea/
*.iml

# node.js specific files
node_modules/

